<h1>Elite : Dangerous - Data Entry</h1>

<h2>Systems</h2>
<%= link_to 'Add a new System', new_system_path %><br />
<%= link_to 'View all Systems', controller: 'systems' %><br />

<h2>Stations</h2>
<%= link_to 'Add a new Station', new_station_path %><br />
<%= link_to 'View all Stations', controller: 'stations' %><br />

<h2>Station Commodities</h2>
<%= link_to 'Add a new Station Commodity', new_station_commodity_path %><br />
<%= link_to 'View all Station Commodities', controller: 'station_commodities' %><br />

<h2>Commodities</h2>
<%= link_to 'Add a new Commodity', new_commodity_path %><br />
<%= link_to 'View all Commodities', controller: 'commodities' %><br />

<h2>Allegiances</h2>
<%= link_to 'Add a new Allegiance', new_allegiance_path %><br />
<%= link_to 'View all Allegiances', controller: 'allegiances' %><br />

<h2>Station Types</h2>
<%= link_to 'Add a new Station Type', new_station_type_path %><br />
<%= link_to 'View all Station Types', controller: 'station_types' %><br />

<h2>Commodity Types</h2>
<%= link_to 'Add a new Commodity Type', new_commodity_type_path %><br />
<%= link_to 'View all Commodity Types', controller: 'commodity_types' %><br />

<br>
<%= link_to 'Back to main menu', root_url %>