<%= form_for @station do |f| %>
  <% if @station.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@station.errors.count, "error") %> prevented this station from being saved:</h2>
      <ul>
      <% @station.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <body>
      <tr>
        <td><%= f.label :systems, class: "control-label" %></td>
        <td><%= f.collection_select(:system_id, System.all.order(:name), :id, :name, {:prompt => "Select a system"},{:class=>"form-control", :style=>"display: inline-block; background-color: transparent;"}) %></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><%= f.label :station_types, class: "control-label" %></td>
        <td><%= f.collection_select(:station_type_id, StationType.all.order(:name), :id, :name, {:prompt => "Select a station type"},{:class=>"form-control", :style=>"display: inline-block; background-color: transparent;"}) %></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><%= f.label :name, class: "control-label" %></td>
        <td><%= f.text_field :name, class: "form-control typeahead tt-input", placeholder: "enter text here", required: "required", style: "display: inline-block; position: relative; vertical-align: top; background-color: transparent;" %></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><%= f.label :nav_ls, class: "control-label" %></td>
        <td><%= f.number_field :nav_ls, class: "form-control typeahead tt-input", placeholder: "1", required: "required", style: "display: inline-block; position: relative; vertical-align: top; background-color: transparent;" %></td>
        <td>&nbsp;ls</td>
      </tr>
      <tr>
        <td><%= f.label :allegiances, class: "control-label" %></td>
        <td><%= f.collection_select(:allegiance_id, Allegiance.all.order(:name), :id, :name, {:prompt => "Select a allegiance"},{:class=>"form-control", :style=>"display: inline-block; background-color: transparent;"}) %></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><%= f.label :governments, class: "control-label" %></td>
        <td><%= f.collection_select(:government_id, Government.all.order(:name), :id, :name, {:prompt => "Select a government"},{:class=>"form-control", :style=>"display: inline-block; background-color: transparent;"}) %></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><%= f.label :population_levels, class: "control-label" %></td>
        <td><%= f.collection_select(:population_level_id, PopulationLevel.all.order(:name), :id, :name, {:prompt => "Select a population level"},{:class=>"form-control", :style=>"display: inline-block; background-color: transparent;"}) %></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Has Commodities?</td>
        <td><%= f.radio_button :has_commodities, true %><label for="station_has_commodities_true">&nbsp;yes</label></td>
        <td>&nbsp;</td>
        <td><%= f.radio_button :has_commodities, false %><label for="station_has_commodities_false">&nbsp;no</label></td>
      </tr>
      <tr>
        <td>Has Refueling?</td>
        <td><%= f.radio_button :has_refuel, true %><label for="station_has_refuel_true">&nbsp;yes</label></td>
        <td>&nbsp;</td>
        <td><%= f.radio_button :has_refuel, false %><label for="station_has_refuel_false">&nbsp;no</label></td>
      </tr>
      <tr>
        <td>Has Repairing?</td>
        <td><%= f.radio_button :has_repair, true %><label for="station_has_repair_true">&nbsp;yes</label></td>
        <td>&nbsp;</td>
        <td><%= f.radio_button :has_repair, false %><label for="station_has_repair_false">&nbsp;no</label></td>
      </tr>
      <tr>
        <td>Has Re-Arming?</td>
        <td><%= f.radio_button :has_re_arm, true %><label for="station_has_re_arm_true">&nbsp;yes</label></td>
        <td>&nbsp;</td>
        <td><%= f.radio_button :has_re_arm, false %><label for="station_has_re_arm_false">&nbsp;no</label></td>
      </tr>
      <tr>
        <td>Has Outfitting?</td>
        <td><%= f.radio_button :has_outfitting, true %><label for="station_has_outfitting_true">&nbsp;yes</label></td>
        <td>&nbsp;</td>
        <td><%= f.radio_button :has_outfitting, false %><label for="station_has_outfitting_false">&nbsp;no</label></td>
      </tr>
      <tr>
        <td>Has a Shipyard?</td>
        <td><%= f.radio_button :has_shipyard, true %><label for="station_has_shipyard_true">&nbsp;yes</label></td>
        <td>&nbsp;</td>
        <td><%= f.radio_button :has_shipyard, false %><label for="station_has_shipyard_false">&nbsp;no</label></td>
      </tr>
      <tr>
        <td>Has a Black Market?</td>
        <td><%= f.radio_button :has_blackmarket, true %><label for="station_has_blackmarket_true">&nbsp;yes</label></td>
        <td>&nbsp;</td>
        <td><%= f.radio_button :has_blackmarket, false %><label for="station_has_blackmarket_false">&nbsp;no</label></td>
      </tr>
      <tr>
        <td>Is Economy Agricultural?</td>
        <td><%= f.radio_button :is_economy_agricultural, true %><label for="station_is_economy_agricultural_true">&nbsp;yes</label></td>
        <td>&nbsp;</td>
        <td><%= f.radio_button :is_economy_agricultural, false %><label for="station_is_economy_agricultural_false">&nbsp;no</label></td>
      </tr>
      <tr>
        <td>Is Economy Extraction?</td>
        <td><%= f.radio_button :is_economy_extraction, true %><label for="station_is_economy_extraction_true">&nbsp;yes</label></td>
        <td>&nbsp;</td>
        <td><%= f.radio_button :is_economy_extraction, false %><label for="station_is_economy_extraction_false">&nbsp;no</label></td>
      </tr>
      <tr>
        <td>Is Economy Hi Tech?</td>
        <td><%= f.radio_button :is_economy_hi_tech, true %><label for="station_is_economy_hi_tech_true">&nbsp;yes</label></td>
        <td>&nbsp;</td>
        <td><%= f.radio_button :is_economy_hi_tech, false %><label for="station_is_economy_hi_tech_false">&nbsp;no</label></td>
      </tr>
      <tr>
        <td>Is Economy Industrial?</td>
        <td><%= f.radio_button :is_economy_industrial, true %><label for="station_is_economy_industrial_true">&nbsp;yes</label></td>
        <td>&nbsp;</td>
        <td><%= f.radio_button :is_economy_industrial, false %><label for="station_is_economy_industrial_false">&nbsp;no</label></td>
      </tr>
      <tr>
        <td>Is Economy Military?</td>
        <td><%= f.radio_button :is_economy_military, true %><label for="station_is_economy_military_true">&nbsp;yes</label></td>
        <td>&nbsp;</td>
        <td><%= f.radio_button :is_economy_military, false %><label for="station_is_economy_military_false">&nbsp;no</label></td>
      </tr>
      <tr>
        <td>Is Economy None?</td>
        <td><%= f.radio_button :is_economy_none, true %><label for="station_is_economy_none_true">&nbsp;yes</label></td>
        <td>&nbsp;</td>
        <td><%= f.radio_button :is_economy_none, false %><label for="station_is_economy_none_false">&nbsp;no</label></td>
      </tr>
      <tr>
        <td>Is Economy Refinery?</td>
        <td><%= f.radio_button :is_economy_refinery, true %><label for="station_is_economy_refinery_true">&nbsp;yes</label></td>
        <td>&nbsp;</td>
        <td><%= f.radio_button :is_economy_refinery, false %><label for="station_is_economy_refinery_false">&nbsp;no</label></td>
      </tr>
      <tr>
        <td>Is Economy Service?</td>
        <td><%= f.radio_button :is_economy_service, true %><label for="station_is_economy_service_true">&nbsp;yes</label></td>
        <td>&nbsp;</td>
        <td><%= f.radio_button :is_economy_service, false %><label for="station_is_economy_service_false">&nbsp;no</label></td>
      </tr>
      <tr>
        <td>Is Economy Terraforming?</td>
        <td><%= f.radio_button :is_economy_terraforming, true %><label for="station_is_economy_terraforming_true">&nbsp;yes</label></td>
        <td>&nbsp;</td>
        <td><%= f.radio_button :is_economy_terraforming, false %><label for="station_is_economy_terraforming_false">&nbsp;no</label></td>
      </tr>
      <tr>
        <td>Is Economy Tourism?</td>
        <td><%= f.radio_button :is_economy_tourism, true %><label for="station_is_economy_tourism_true">&nbsp;yes</label></td>
        <td>&nbsp;</td>
        <td><%= f.radio_button :is_economy_tourism, false %><label for="station_is_economy_tourism_false">&nbsp;no</label></td>
      </tr>
    </body>
  </table>

  <p>
    <%= f.submit "Save", class: "btn btn-default" %>
  </p>
<% end %>