<h1>Listing of All Stations</h1>
<table border="1">
  <body>
    <% System.all.order(:name).each do |system| %>
      <% counter = 1 %>
      <% system.stations.order(:name).each do |station| %>
        <% if counter == 1 then %>
          <tr>
            <th><h3><%= system.name %></h3></th>
            <th>Nav LS</th>
            <th>Allegiance</th>
            <th>Government</th>
            <th>Pop Lvl</th>
            <th>Economies</th>
            <th>Commodities?</th>
            <th>Refuel?</th>
            <th>Repair?</th>
            <th>Re-Arm?</th>
            <th>Outfit?</th>
            <th>Shipyard?</th>
            <th>Blackmarket?</th>
            <th>Show</th>
            <th>Edit</th>
            <th>Destroy</th>
          </tr>
          <% counter = 0 %>
        <% end %>
        <tr>
          <td><b><%= station.name %></b></td>
          <td><b><%= station.nav_ls %></b>&nbsp;ls</td>
          <td><b><%= station.allegiance.name %></b></td>
          <td><b><%= station.government.name %></b></td>
          <td><b><%= station.population_level.name %></b></td>
          <td>
            <% econ_array = [] %>
            <% econ_array.push("Agricultural") if station.is_economy_agricultural %>
            <% econ_array.push("Exraction") if station.is_economy_extraction %>
            <% econ_array.push("Hi tech") if station.is_economy_hi_tech %>
            <% econ_array.push("Industrial") if station.is_economy_industrial %>
            <% econ_array.push("Military") if station.is_economy_military %>
            <% econ_array.push("None") if station.is_economy_none %>
            <% econ_array.push("Refinery") if station.is_economy_refinery %>
            <% econ_array.push("Service") if station.is_economy_service %>
            <% econ_array.push("Tourism") if station.is_economy_tourism %>
            <b><%= econ_array.join(', ') %></b>
          </td>

          <% if station.has_commodities then %>
            <td><b>YES</b></td>
          <% else %>
            <td>NO</td>
          <% end %>

          <% if station.has_refuel then %>
            <td><b>YES</b></td>
          <% else %>
            <td>NO</td>
          <% end %>

          <% if station.has_repair then %>
            <td><b>YES</b></td>
          <% else %>
            <td>NO</td>
          <% end %>

          <% if station.has_re_arm then %>
            <td><b>YES</b></td>
          <% else %>
            <td>NO</td>
          <% end %>

          <% if station.has_outfitting then %>
            <td><b>YES</b></td>
          <% else %>
            <td>NO</td>
          <% end %>

          <% if station.has_shipyard then %>
            <td><b>YES</b></td>
          <% else %>
            <td>NO</td>
          <% end %>

          <% if station.has_blackmarket then %>
            <td><b>YES</b></td>
          <% else %>
            <td>NO</td>
          <% end %>

          <td><%= link_to 'Show', station_path(station) %></td>
          <td><%= link_to 'Edit', edit_station_path(station) %></td>
          <td><%= link_to 'Destroy', station_path(station),
                      method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </body>
</table>
<br>
<%= link_to 'Add a new Station', new_station_path %>
<br>
<%= link_to 'Back to data entry menu', :controller => 'data_entry', :action => 'index' %>