<h1><%= @station.system.name %>&nbsp;:&nbsp;<%= @station.name %></h1>
<p style="padding-left:20px">
<strong>Distance from nav:</strong>&nbsp;&nbsp;<%= @station.nav_ls %>&nbsp;ls<br />
<strong>Station Type :</strong>&nbsp;&nbsp;<%= @station.station_type.name %><br />
<strong>Landing Pads:</strong>&nbsp;&nbsp;
<% if @station.station_type.has_large_dock then %>
	Small, Medium and Large<br />
<% elsif @station.station_type.has_medium_dock then %>
	Small and Medium<br />
<% else %>
	Small only<br />
<% end %>
<strong>Government:</strong>&nbsp;&nbsp;<%= @station.government.name %><br />
<strong>Population Level:</strong>&nbsp;&nbsp;<%= @station.population_level.name %><br />
<% econ_array = [] %>
<% econ_array.push("Agricultural") if @station.is_economy_agricultural %>
<% econ_array.push("Exraction") if @station.is_economy_extraction %>
<% econ_array.push("Hi tech") if @station.is_economy_hi_tech %>
<% econ_array.push("Industrial") if @station.is_economy_industrial %>
<% econ_array.push("Military") if @station.is_economy_military %>
<% econ_array.push("None") if @station.is_economy_none %>
<% econ_array.push("Refinery") if @station.is_economy_refinery %>
<% econ_array.push("Service") if @station.is_economy_service %>
<% econ_array.push("Tourism") if @station.is_economy_tourism %>
<strong>Economies:</strong>&nbsp;&nbsp;<%= econ_array.join(', ') %><br />
<% serv_array = [] %>
<% serv_array.push("Commodities") if @station.has_commodities %>
<% serv_array.push("Refueling") if @station.has_refuel %>
<% serv_array.push("Repairing") if @station.has_repair %>
<% serv_array.push("Re-Arming") if @station.has_re_arm %>
<% serv_array.push("Outfitting") if @station.has_outfitting %>
<% serv_array.push("Shipyard") if @station.has_shipyard %>
<% serv_array.push("Black Market") if @station.has_blackmarket %>
<strong>Services:</strong>&nbsp;&nbsp;<%= serv_array.join(', ') %><br />
</p>

<% if @station.has_commodities == true then %>
	<h3>Commodities:</h3>
	<%= form_tag(:controller => :stations, :action => :buyers_for_supply, method: "get") do %>
	  <%= label_tag(:cargo_space, "View all BUYERS for products SOLD by this station with cargo space (tonnes):") %>

	  <%= number_field_tag(:cargo_space, in: 1..1000, step: 1) %>
	  <%= submit_tag("View possible trades") %>
	<% end %>
	<br />
	<table class="table table-striped">
	  <body>
	    <!-- group display by commodity type -->
	    <% CommodityType.all.order(:order_num).each do |commodity_type| %>
	      <% counter = 1 %>
	      <!-- display each commodity within the commodity type -->
	      <% Commodity.where(commodity_type_id: commodity_type.id).order(:name).all.each do |commodity| %>
	      	<% if counter == 1 then %>
	          <tr>
	            <td><h4><%= commodity_type.name %></h4></td>
	            <td>Demand</th>
			    <td>Buy (cr)</th>
			    <td>Supply</th>
			    <td>Sell (cr)</th>
			    <td>Avg (cr)</th>
			    <td>Diff (cr)</th>
			    <td>Edit</th>
			    <td>Destroy</th>
	          </tr>
	          <% counter = 0 %>
	        <% end %>

	        <% @station_commodity = StationCommodity.where( "station_id = ? and commodity_id = ?", @station.id, commodity.id ).take %>
	        <% if @station_commodity.nil? then %>
	          <!-- if no station commodity then draw create row -->
	          <% @station_commodity = StationCommodity.new %>
			  <tr>
			  	<td><i><%= commodity.name %></i></td>
	            <td colspan="6"><i>This station does not have this commodity set up</i></td>
	            <td colspan="2"><%= link_to 'add details', :controller => "station_commodities", :action => "new", :station_id => @station.id, :commodity_id => commodity.id %></td>
	          </tr>
	        <% else %>
	          <!-- if it's a station commodity draw editable row -->
			  <tr>
		        <td><b><%= @station_commodity.commodity.name %></b></td>
		        <% if @station_commodity.demanded_or_supplied == 'D' then %>
		          <td><%= @station_commodity.demand_or_supply_level %></td>
		          <td><b><%= @station_commodity.buy_or_sell_price %></b></td>
		          <td>-</td>
		          <td>-</td>
		          <td><%= @station_commodity.commodity.galactic_average_price %> cr</td>
		          <% price_diff = @station_commodity.buy_or_sell_price - @station_commodity.commodity.galactic_average_price %>
		          <% if price_diff > 0 then %>
		          	<td><%= price_diff %></td>
		          <% else %>
		          	<td><%= price_diff %></td>
		          <% end %>

		        <% else %>
		          <td>-</td>
		          <td>-</td>
		          <td><%= @station_commodity.demand_or_supply_level %></td>
		          <td><b><%= @station_commodity.buy_or_sell_price %></b></td>
		          <td><%= @station_commodity.commodity.galactic_average_price %> cr</td>
		          <% price_diff =  @station_commodity.commodity.galactic_average_price - @station_commodity.buy_or_sell_price %>
		          <% if price_diff > 0 then %>
		          	<td><%= price_diff %></td>
		          <% else %>
		          	<td><%= price_diff %></td>
		          <% end %>
		        <% end %>

		        <td><%= link_to 'Edit', edit_station_commodity_path(@station_commodity) %></td>
		        <td><%= link_to 'Destroy', station_commodity_path(@station_commodity),
		                  method: :delete, data: { confirm: 'Are you sure?' } %></td>
		      </tr>
	        <% end %>
	      <% end %><!-- end commodity -->
	    <% end %><!-- end commodity type -->
	  </body>
	</table>
<% end %>
<br>
<%= link_to 'Edit this Station', edit_station_path(@station) %>
<br>
<%= link_to 'View all Stations', stations_path %>
<br>
<%= link_to 'Back to data entry menu', :controller => 'data_entry', :action => 'index' %>