<h1><%= @station.system.name %>&nbsp;:&nbsp;<%= @station.name %></h1>
<i>Station Type :</i>&nbsp;&nbsp;<b><%= @station.station_type.name %></b>
<% if @station.station_type.has_large_dock then %>
	which has <b>LARGE</b> docks and smaller
<% elsif @station.station_type.has_medium_dock then %>
	which has <b>MEDIUM</b> docks and smaller
<% else %>
	which has <b>SMALL</b> docks only
<% end %>
<br \>
<br \>
<table>
  <thead>
  	<th>Commodities?</th>
  	<th>Refueling?</th>
  	<th>Repairing?</th>
  	<th>Re-arming?</th>
  	<th>Outfitting?</th>
  	<th>Shipyard?</th>
  </thead>
  <body>
	<% if @station.has_commodities then %>
		<td bgcolor="GreenYellow"><b>YES</b></td>
	<% else %>
		<td bgcolor="OrangeRed">NO</td>
	<% end %>
	<% if @station.has_refuel then %>
		<td bgcolor="GreenYellow"><b>YES</b></td>
	<% else %>
		<td bgcolor="OrangeRed">NO</td>
	<% end %>
	</body>
	<% if @station.has_repair then %>
		<td bgcolor="GreenYellow"><b>YES</b></td>
	<% else %>
		<td bgcolor="OrangeRed">NO</td>
	<% end %>
	</body>
	<% if @station.has_re_arm then %>
		<td bgcolor="GreenYellow"><b>YES</b></td>
	<% else %>
		<td bgcolor="OrangeRed">NO</td>
	<% end %>
	</body>
	<% if @station.has_outfitting then %>
		<td bgcolor="GreenYellow"><b>YES</b></td>
	<% else %>
		<td bgcolor="OrangeRed">NO</td>
	<% end %>
	</body>
	<% if @station.has_shipyard then %>
		<td bgcolor="GreenYellow"><b>YES</b></td>
	<% else %>
		<td bgcolor="OrangeRed">NO</td>
	<% end %>
  </body>
</table>

<% if @station.has_commodities == true then %>
	<h2>This station has Commodities:</h2>
	<%= form_tag(:controller => :stations, :action => :buyers_for_supply, method: "get") do %>
	  <%= label_tag(:cargo_space, "View all BUYERS for products SOLD by this station with cargo space (tonnes):") %>

	  <%= number_field_tag(:cargo_space, in: 1..1000, step: 1) %>
	  <%= submit_tag("View possible trades") %>
	<% end %>
	<br/>
	<br/>
	<table border="1">
	  <thead>
	    <tr>
	      <th>Commodity Name</th>
	      <th>Demand Level</th>
	      <th>Buy Price (cr)</th>
	      <th>Supply Level</th>
	      <th>Sell Price (cr)</th>
	      <th>Avg Price (cr)</th>
	      <th>Price Diff (cr)</th>
	      <th>Edit</th>
	      <th>Destroy</th>
	    </tr>
	  </thead>
	  <body>
	    <!-- group display by commodity type -->
	    <% CommodityType.all.order(:order_num).each do |commodity_type| %>
	      <% counter = 1 %>
	      <!-- display each commodity within the commodity type -->
	      <% Commodity.where(commodity_type_id: commodity_type.id).order(:name).all.each do |commodity| %>
	      	<% if counter == 1 then %>
	          <tr>
	            <td colspan="9" bgcolor="cyan"><b><%= commodity_type.name %></b></td>
	          </tr>
	          <% counter = 0 %>
	        <% end %>

	        <% @station_commodity = StationCommodity.where( "station_id = ? and commodity_id = ?", @station.id, commodity.id ).take %>
	        <% if @station_commodity.nil? then %>
	          <!-- if no station commodity then draw create row -->
	          <% @station_commodity = StationCommodity.new %>
			  <tr>
			  	<td><i><%= commodity.name %></i></td>
	            <td colspan="6"><i>This station does not have this commodity set up</i></td>
	            <td colspan="2" bgcolor="GreenYellow"><%= link_to 'add details', :controller => "station_commodities", :action => "new", :station_id => @station.id, :commodity_id => commodity.id %></td>
	          </tr>
	        <% else %>
	          <!-- if it's a station commodity draw editable row -->
			  <tr>
		        <td><b><%= @station_commodity.commodity.name %></b></td>
		        <% if @station_commodity.demanded_or_supplied == 'D' then %>
		          <td bgcolor="yellow"><%= @station_commodity.demand_or_supply_level %></td>
		          <td bgcolor="yellow"><b><%= @station_commodity.buy_or_sell_price %></b></td>
		          <td>-</td>
		          <td>-</td>
		          <td><%= @station_commodity.commodity.galactic_average_price %> cr</td>
		          <% price_diff = @station_commodity.buy_or_sell_price - @station_commodity.commodity.galactic_average_price %>
		          <% if price_diff > 0 then %>
		          	<td bgcolor="LawnGreen"><%= price_diff %></td>
		          <% else %>
		          	<td bgcolor="OrangeRed"><%= price_diff %></td>
		          <% end %>

		        <% else %>
		          <td>-</td>
		          <td>-</td>
		          <td bgcolor="orange"><%= @station_commodity.demand_or_supply_level %></td>
		          <td bgcolor="orange"><b><%= @station_commodity.buy_or_sell_price %></b></td>
		          <td><%= @station_commodity.commodity.galactic_average_price %> cr</td>
		          <% price_diff =  @station_commodity.commodity.galactic_average_price - @station_commodity.buy_or_sell_price %>
		          <% if price_diff > 0 then %>
		          	<td bgcolor="LawnGreen"><%= price_diff %></td>
		          <% else %>
		          	<td bgcolor="OrangeRed"><%= price_diff %></td>
		          <% end %>
		        <% end %>

		        <td><%= link_to 'Edit', edit_station_commodity_path(@station_commodity) %></td>
		        <td><%= link_to 'Destroy', station_commodity_path(@station_commodity),
		                  method: :delete, data: { confirm: 'Are you sure?' } %></td>
		      </tr>
	        <% end %>
	      <% end %><!-- end commodity -->
	    <% end %><!-- end commodity type -->
	  </body>
	</table>
<% end %>
<br>
<%= link_to 'Edit this Station', edit_station_path(@station) %>
<br>
<%= link_to 'View all Stations', stations_path %>
<br>
<%= link_to 'Back to data entry menu', :controller => 'data_entry', :action => 'index' %>