<%= form_for @government do |f| %>
  <% if @government.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@government.errors.count, "error") %> prevented this government from being saved:</h2>
    <ul>
    <% @government.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <p>
    <%= f.label :name %>&nbsp;<%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>