<%= form_for @station_commodity do |f| %>
  <% if @station_commodity.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@station_commodity.errors.count, "error") %> prevented this station commodity from being saved:</h2>
    <ul>
    <% @station_commodity.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <% station = nil, curr_commodity = nil %>
  <% if params[:station_id] && params[:commodity_id] then %>
    <% station = Station.find_by_id(params[:station_id]) %>
    <% curr_commodity = Commodity.find_by_id(params[:commodity_id]) %>
  <% else %>
    <% station = @station_commodity.station %>
    <% curr_commodity = @station_commodity.commodity %>
  <% end %>

  <h2><%= station.system.name %>&nbsp;:&nbsp;<%= station.name %></h2>
  <h3><%= curr_commodity.commodity_type.name %>&nbsp;:&nbsp;<%= curr_commodity.name %></h3>

  <table>
    <body>
      <tr>
        <td><%= label :demanded_or_supplied_options, 'Demanded or Supplied? : ', class: "control-label" %></td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td><%= f.radio_button :demanded_or_supplied, 'D' %></td>
        <td>&nbsp;&nbsp;</td>
        <td><%= label :demanded_or_supplied_d, 'Demanded', class: "control-label" %></td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td><%= f.radio_button :demanded_or_supplied, 'S' %></td>
        <td>&nbsp;&nbsp;</td>
        <td><%= label :demanded_or_supplied_s, 'Supplied', class: "control-label" %></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><%= label :demand_or_supply_level_options, 'Level? : ', class: "control-label" %></td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td><%= f.radio_button :demand_or_supply_level, 'L' %></td>
        <td>&nbsp;&nbsp;</td>
        <td><%= label :demand_or_supply_level_low, 'Low', class: "control-label" %></td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td><%= f.radio_button :demand_or_supply_level, 'M' %></td>
        <td>&nbsp;&nbsp;</td>
        <td><%= label :demand_or_supply_level_medium, 'Medium', class: "control-label" %></td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td><%= f.radio_button :demand_or_supply_level, 'H' %></td>
        <td>&nbsp;&nbsp;</td>
        <td><%= label :demand_or_supply_level_high, 'High', class: "control-label" %></td>
      </tr>
      <tr>
        <td><%= f.label :buy_or_sell_price, "Price : ", class: "control-label" %></td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td colspan="5"><%= f.number_field :buy_or_sell_price, :autofocus => true, class: "form-control typeahead edsUpdate tt-input", placeholder: "1", required: "required", style: "display: inline-block; position: relative; vertical-align: top; background-color: transparent;" %></td>
        <td>cr</td>
        <td colspan="5"></td>
      </tr>
    </body>
  </table>
  <p>
    <%= f.submit "Save", class: "btn btn-default" %>
  </p>
<% end %>

<% station = nil, curr_commodity = nil %>
<% if params[:station_id] && params[:commodity_id] then %>
  <% station  = Station.find_by_id(params[:station_id]) %>
  <% curr_commodity = Commodity.find_by_id(params[:commodity_id]) %>
<% else %>
  <% station = @station_commodity.station %>
  <% curr_commodity = @station_commodity.commodity %>
<% end %>

<br />
<% curr_commodity_id = curr_commodity.id %>
<% next_commodity_id = curr_commodity_id.to_i + 1 %>
<% next_commodity = Commodity.find_by_id(next_commodity_id) %>
<% if next_commodity %>
  <p>
  <% next_station_commodity = StationCommodity.where("station_id = ? and commodity_id = ?", station.id, next_commodity_id).first %>
  <% if next_station_commodity %>
    <%= link_to 'Skip to edit next commodity', edit_station_commodity_path(next_station_commodity) %>
  <% else %>
    <%= link_to 'Skip to create next commodity', :controller => "station_commodities", :action => "new", :station_id => station.id, :commodity_id => next_commodity_id %>
  <% end %>
  </p>
<% end %>

<% curr_commodity_type_id = curr_commodity.commodity_type.id %>
<% next_commodity_type_id = curr_commodity_type_id.to_i + 1 %>
<% if CommodityType.find_by_id(next_commodity_type_id) %>
  <% next_commodity_type_first_commodity_id = Commodity.where("commodity_type_id = ?", next_commodity_type_id).first.id %>
  <% if Commodity.find_by_id(next_commodity_type_first_commodity_id) %>
    <p>
      <% next_type_station_commodity = StationCommodity.where("station_id = ? and commodity_id = ?", station.id, next_commodity_type_first_commodity_id).first %>
      <% if next_type_station_commodity %>
        <%= link_to 'Skip to edit first commodity in next commodity type', edit_station_commodity_path(next_type_station_commodity) %>
      <% else %>
        <%= link_to 'Skip to create first commodity in next commodity type', :controller => "station_commodities", :action => "new", :station_id => station.id, :commodity_id => next_commodity_type_first_commodity_id %>
      <% end %>
    </p>
  <% end %>
<% end %>

<p>
  <%= link_to "Return to Station View", station_path(station) %>
</p>
