<h1>Listing of All Station Commodities</h1>

<% System.all.each do |system| %>
  <% system.stations.order(:name).each do |station| %>
    <table class="table table-striped">
      <caption><h3><%= system.name %>&nbsp;:&nbsp;<%= station.name %></h3></caption>
      <thead>
        <tr>
          <th>Commodity Name</th>
          <th>Demand Level</th>
          <th>Buy at (cr)</th>
          <th>Sell at (cr)</th>
          <th>Demand</th>
          <th>Demand Level</th>
          <th>Supply</th>
          <th>Supply Level</th>
          <th>Avg Price (cr)</th>
          <th>Show</th>
          <th>Edit</th>
          <th>Destroy</th>
        </tr>
      </thead>
      <body>
        <!-- group display by commodity type -->
        <% CommodityType.all.order(:order_num).each do |commodity_type| %>
          <% counter = 1 %>
          <!-- display each commodity within the commodity type for this station -->
          <% station.station_commodities.joins(:commodity).where(commodities: { commodity_type_id: commodity_type.id }).order("commodities.name asc").each do |station_commodity| %>
            <% if counter == 1 then %>
              <tr>
                <td colspan="12"><h3><%= commodity_type.name %></h3></td>
              </tr>
              <% counter = 0 %>
            <% end %>
            <tr>
              <td><%= station_commodity.commodity.name %></td>
              <td><%= number_with_delimiter(station_commodity.buy) %></td>
              <td><%= number_with_delimiter(station_commodity.sell) %></td>
              <td><%= number_with_delimiter(station_commodity.demand) %></td>
              <td><%= station_commodity.demand_level %></td>
              <td><%= number_with_delimiter(station_commodity.supply) %></td>
              <td><%= station_commodity.supply_level %></td>
              <td><%= number_with_delimiter(station_commodity.commodity.galactic_average_price) %></td>
              <td><%= link_to 'Show', station_commodity_path(station_commodity) %></td>
              <td><%= link_to 'Edit', edit_station_commodity_path(station_commodity) %></td>
              <td><%= link_to 'Destroy', station_commodity_path(station_commodity),
                        method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %><!-- end station commodity -->
        <% end %><!-- end commodity type -->
      </body>
    </table>
    <br /><br />
  <% end %> <!-- end station -->
<% end %> <!-- end system -->