<h1><%= @station_economy.station.name %>&nbsp;:&nbsp;<%= @station_economy.economy.name %></h1>

<br>
<%= link_to 'Edit this Station Economy', edit_station_economy_path(@station_economy) %>
<br>
<%= link_to 'View all Station Economies', station_economies_path %>
<br>
<%= link_to 'Back to data entry menu', :controller => 'data_entry', :action => 'index' %>