<h1><%= @station_type.name %></h1>
<p>
	<strong>Has a Small Dock:</strong>&nbsp;&nbsp;<%= @station_type.has_small_dock %><br \>
  	<strong>Has a Medium Dock:</strong>&nbsp;&nbsp;<%= @station_type.has_medium_dock %><br \>
	<strong>Has a Large Dock:</strong>&nbsp;&nbsp;<%= @station_type.has_large_dock %><br \>
</p>
<br>
<%= link_to 'Edit this Station Type', edit_station_type_path(@station_type) %>