<%= form_for @system do |f| %>
  <% if @system.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@system.errors.count, "error") %> prevented this system from being saved:</h2>
    <ul>
    <% @system.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <table>
    <body>
      <tr>
        <td><%= f.label :name, class: "control-label" %></td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td><%= f.text_field :name, class: "form-control typeahead tt-input", required: "required", style: "display: inline-block; position: relative; vertical-align: top; background-color: transparent;" %></td>
      </tr>
      <tr>
        <td><%= f.label :allegiances, class: "control-label" %></td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td><%= f.collection_select(:allegiance_id, Allegiance.all.order(:name), :id, :name, {:prompt => "Select an allegiance"},{:class=>"form-control", :style=>"display: inline-block; background-color: transparent;"}) %></td>
      </tr>
      <tr>
        <td><%= f.label :governments, class: "control-label" %></td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td><%= f.collection_select(:government_id, Government.all.order(:name), :id, :name, {:prompt => "Select a government"},{:class=>"form-control", :style=>"display: inline-block; background-color: transparent;"}) %></td>
      </tr>
    </body>
  </table>
  <p>
    <%= f.submit "Save", class: "btn btn-default" %>
  </p>
<% end %>