<h1>System:&nbsp;:&nbsp;<%= @system.name %></h1>
<h3><%= @system.allegiance.name %></h3>

<br>
<%= link_to 'Edit this System', edit_system_path(@system) %>
<br>
<%= link_to 'View all Systems', systems_path %>
<br>
<%= link_to 'Back to data entry menu', :controller => 'data_entry', :action => 'index' %>