<h1>Listing of All Alliances</h1>

<table border="1">
  <body>
    <tr>
      <th>Alliance Name</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>

    <% @alliances.each do |alliance| %>
      <tr>
        <td><%= alliance.name %></td>
        <td><%= link_to 'Show', alliance_path(alliance) %></td>
        <td><%= link_to 'Edit', edit_alliance_path(alliance) %></td>
        <td><%= link_to 'Destroy', alliance_path(alliance),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </body>
</table>
<br>
<%= link_to 'Add a new Alliance', new_alliance_path %>
<br>
<%= link_to 'Back to data entry menu', :controller => 'data_entry', :action => 'index' %>