<%= form_for @population_level do |f| %>
  <% if @population_level.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@population_level.errors.count, "error") %> prevented this population_level from being saved:</h2>
    <ul>
    <% @population_level.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <p>
    <%= f.label :name, class: "control-label" %>&nbsp;<%= f.text_field :name, class: "control-label" %>&nbsp;<%= f.text_field :name, class: "form-control typeahead edsUpdate tt-input", placeholder: "enter text here", required: "required", style: "display: inline-block; position: relative; vertical-align: top; background-color: transparent;", value: "" %>
  </p>

  <p>
    <%= f.submit "Save", class: "btn btn-default" %>
  </p>
<% end %>