<h1><%= @commodity_type.name %></h1>
<p>
  <strong>Order:</strong>&nbsp;&nbsp;<%= @commodity_type.order_num %>
</p>
<br>
<%= link_to 'Edit this Commodity Type', edit_commodity_type_path(@commodity_type) %>
<br>
<%= link_to 'View all Commodity Types', commodity_types_path %>
<br>
<%= link_to 'Back to data entry menu', :controller => 'data_entry', :action => 'index' %>